.service
    padding: 40px 0
    .block-heading
        margin-bottom: 40px
    .block-desc
        font-size: 14px
        max-width: 990px
        margin: 0 auto 15px
    .block
        display: flex
        flex-direction: column
        padding: 20px 0
        img
            display: block
            align-self: center
            border-radius: 5px
            max-width: 100%
            height: 177px
            object-fit: cover
            object-position: 50%
            margin-bottom: 25px
        p
            text-align: center
            margin: 0
        b
            display: block
            font-size: 21px
            margin-bottom: 10px
        &_dark
            background-color: #f2f2f2
            border-radius: 5px
            padding: 20px
            img
                margin-bottom: 15px
                height: 240px
            p
                text-align: left
    &_mini-forklifts
        padding: 40px 0 0
        .block
            position: relative
            &-heading
                margin-bottom: 10px
            b
                text-align: center
                font-size: 23px
            .image
                display: flex
                justify-content: center
                position: relative
                margin-bottom: 25px
                img
                    max-width: 290px
                    height: 174px
                    margin: 0
                &:before
                    content: ''
                    background-color: $white
                    height: 44px
                    width: 44px
                    border-radius: 50%
                    display: block
                    position: absolute
                    left: 15px
                    top: 50%
                    transform: translateY(-50%)
                &:after
                    content: ''
                    background-color: $white
                    height: 44px
                    width: 44px
                    border-radius: 50%
                    display: block
                    position: absolute
                    right: 15px
                    top: 50%
                    transform: translateY(-50%)
            .list
                margin: 10px auto 0
                max-width: 90%
                padding: 12px
                display: flex
                flex-direction: column
                list-style: none
                border: 2px solid #cbcbcb
                border-radius: 5px
                li
                    p
                        display: flex
                        text-align: left
                        margin: 0
                        &:before
                            content: ''
                            width: 5px
                            height: 5px
                            flex: 0 0 5px
                            margin-top: 7px
                            margin-right: 5px
                            border-radius: 8px
                            display: inline-block
                            background-color: $yellow
                    &:nth-child(2)
                        p
                            &:before
                                background-color: $black
                    &:nth-child(3)
                        p
                            &:before
                                background-color: $orange
                    &:nth-child(4)
                        p
                            &:before
                                background-color: $green
            &:after
                content: ''
                width: 32px
                height: 32px
                border-radius: 50%
                border: 1px solid #cbcbcb
                display: block
                position: absolute
                right: -34px
                top: 92px
            &:before
                content: ''
                width: 7px
                height: 7px
                border-radius: 50%
                background-color: $yellow
                display: block
                position: absolute
                right: -22px
                top: 92px + 12px
            &_left
                .image
                    &:before
                        display: none
            &_right
                .image
                    &:after
                        display: none
                &:after, &:before
                    display: none