.compare
    padding-top: 20px
    .table
        margin-top: 30px
        border: 1px solid $black
        border-radius: 5px
        border-collapse: collapse
        border-style: hidden
        box-shadow: 0 0 0 1px rgba(0,0,0,1)
        thead
            th
                border: none
                text-transform: uppercase
                font-size: 13px
                padding: 25px 23px
                border-right: 2px solid #cccccc
                &:first-child
                    border-radius: 5px 0 0 5px
                &:last-child
                    border-radius: 0 5px 5px 0
        tbody
            tr
                &:nth-of-type(odd)
                    background-color: #ffffff
                &:nth-of-type(even)
                    background-color: #f2f2f2
                td
                    border: none
                    border-right: 2px solid #cccccc
                    text-transform: uppercase
                    font-size: 12px
                    padding: 25px 23px
                    a
                        color: $black
                        text-decoration: underline
                        position: relative
                        display: flex
                        font-size: 16px
                        font-weight: 700
                        line-height: 1
                        align-items: center
                        transition: all 0.3s ease
                        &:after
                            content: ''
                            background: url('../img/icons/angle-right.png') no-repeat center center/contain
                            filter: invert(1)
                            width: 12px
                            height: 12px
                            display: block
                            margin-left: 7px
                            image-rendering: crisp-edges
                        &:hover
                            color: $yellow