.demo
    background-color: #f2f2f2
    padding: 40px 0 10px
    margin-top: 22px
    .block
        &-heading
            margin-bottom: 30px
        &-video
            margin-bottom: 30px
            .embed-responsive
                border-radius: 5px
            b
                display: block
                text-align: center
                font-size: 27px
                text-transform: uppercase
                margin-top: 40px