.enhancements
    margin-top: 40px
    padding: 40px 0
    background-color: #f2f2f2
    .block
        &-desc
            margin-bottom: 20px
    .block
        width: 90%
        margin: 0
        position: relative
        z-index: 1
        .heading
            display: flex
            align-items: center
            justify-content: flex-end
            border-radius: 5px
            height: 99px
            padding: 35px
            .counter
                background-color: $yellow
                display: flex
                align-items: center
                justify-content: center
                color: $black
                width: 36px
                height: 36px
                line-height: 1
                border-radius: 50%
                font-size: 15px
        .content
            background-color: rgba(255,255,255, 0.7)
            border-radius: 5px
            padding: 20px
            .title
                display: block
                font-size: 15px
                text-transform: uppercase
                margin-bottom: 10px
            p
                margin: 0
            .list
                margin: 0
                padding: 0 0 0 20px
        &_1
            margin-top: 110px
            margin-bottom: -110px
            .heading
                background: url('../img/enhancements/img-1.jpg') no-repeat center center/cover
        &_2
            margin-left: 40px
            margin-right: -40px
            .heading
                background: url('../img/enhancements/img-2.jpg') no-repeat center center/cover
        &_3
            margin-top: 72px
            margin-bottom: -72px
            margin-right: -53px
            margin-left: 53px
            .heading
                background: url('../img/enhancements/img-3.jpg') no-repeat center center/cover
        &_4
            margin-top: -35px
            margin-bottom: 35px
            .heading
                background: url('../img/enhancements/img-4.jpg') no-repeat center center/cover
        &_5
            margin-left: 40px
            margin-right: -40px
            .heading
                background: url('../img/enhancements/img-5.jpg') no-repeat center center/cover
        &_6
            margin-top: -105px
            margin-bottom: 105px
            margin-right: -53px
            margin-left: 53px
            .heading
                background: url('../img/enhancements/img-6.jpg') no-repeat center center/cover
    .bulldozer
        display: block
        width: 800px
        margin: -85px auto -40px
        position: relative
        left: -16px
    .block-circled
        display: flex
        align-items: center
        margin-bottom: 15px
        .image
            position: relative
            border-radius: 50%
            z-index: 1
            box-shadow: 0px 0 0 20px #f2f2f2
            width: 183px
            height: 183px
            flex: 0 0 183px
            img
                display: block
                width: 183px
                height: 183px
                flex: 0 0 183px
                background: #707070
                border-radius: 50%
                #alttext-container
                    display: none
        .content
            background-color: $white
            display: flex
            flex-direction: column
            justify-content: center
            border-radius: 5px
            height: 192px
            width: 100%
            padding: 20px
            padding-left: 90px
            margin-left: -50px
            b
                display: block
                font-size: 19px
                margin-bottom: 10px
            p
                margin: 0
    &_autograders
        margin-top: 0
        .block
            &_1
                margin-top: 80px
                margin-bottom: -80px
                .heading
                    background: url('../img/enhancements/autograders/img-1.jpg') no-repeat center center/cover
            &_2
                .heading
                    background: url('../img/enhancements/autograders/img-2.jpg') no-repeat center center/cover
            &_3
                .heading
                    background: url('../img/enhancements/autograders/img-3.jpg') no-repeat center center/cover
            &_4
                .heading
                    background: url('../img/enhancements/autograders/img-4.jpg') no-repeat center center/cover
            &_5
                .heading
                    background: url('../img/enhancements/autograders/img-5.jpg') no-repeat center center/cover
            &_6
                margin-top: -40px
                margin-bottom: 40px
                .heading
                    background: url('../img/enhancements/autograders/img-6.jpg') no-repeat center center/cover
        .bulldozer
            width: 761px
            z-index: 0
            left: 30px
            margin: -40px auto -10px
    &_mini-forklifts
        .block
            &_1
                margin-top: 80px
                margin-bottom: -80px
                .heading
                    background: url('../img/enhancements/mini-forklifts/img-1.jpg') no-repeat center center/cover
            &_2
                .heading
                    background: url('../img/enhancements/mini-forklifts/img-2.jpg') no-repeat center center/cover
            &_3
                .heading
                    background: url('../img/enhancements/mini-forklifts/img-3.jpg') no-repeat center center/cover
            &_4
                .heading
                    background: url('../img/enhancements/mini-forklifts/img-4.jpg') no-repeat center center/cover
            &_5
                .heading
                    background: url('../img/enhancements/mini-forklifts/img-5.jpg') no-repeat center center/cover
            &_6
                margin-top: -40px
                margin-bottom: 40px
                .heading
                    background: url('../img/enhancements/mini-forklifts/img-6.jpg') no-repeat center center/cover
        .bulldozer
            width: 496px
            z-index: 0
            left: 50px
            margin: -70px auto -50px
    &_frontal-forklifts
        .block
            margin: 0 auto 30px !important
            height: calc(100% - 30px)
            .heading
                background: #707070
            .content
                height: calc(100% - 100px)
                .list
                    list-style: none
                    padding: 0
            &_1
                margin-top: 80px
                margin-bottom: -80px
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-1.jpg') no-repeat center center/cover
            &_2
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-2.jpg') no-repeat center center/cover
            &_3
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-3.jpg') no-repeat center center/cover
            &_4
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-4.jpg') no-repeat center center/cover
            &_5
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-5.jpg') no-repeat center center/cover
            &_6
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-6.jpg') no-repeat center center/cover
            &_7
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-7.jpg') no-repeat center center/cover
            &_8
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-8.jpg') no-repeat center center/cover
            &_9
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-9.jpg') no-repeat center center/cover
            &_10
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-10.jpg') no-repeat center center/cover
            &_11
                .heading
                    background: url('../img/enhancements/frontal-forklifts/img-11.jpg') no-repeat center center/cover
    &_excavators-forklifts
        .block
            &_1
                margin-top: 80px
                margin-bottom: -80px
                .heading
                    background: url('../img/enhancements/excavators-forklifts/img-1.jpg?v=2') no-repeat center center/cover
            &_2
                .heading
                    background: url('../img/enhancements/excavators-forklifts/img-4.jpg') no-repeat center center/cover
            &_3
                .heading
                    background: url('../img/enhancements/excavators-forklifts/img-3.jpg') no-repeat center center/cover
            &_4
                .heading
                    background: url('../img/enhancements/excavators-forklifts/img-2.jpg') no-repeat center center/cover
            &_5
                .heading
                    background: url('../img/enhancements/excavators-forklifts/img-5.jpg?v=2') no-repeat center center/cover
            &_6
                margin-top: -40px
                margin-bottom: 40px
                .heading
                    background: url('../img/enhancements/excavators-forklifts/img-6.jpg') no-repeat center center/cover
        .bulldozer
            width: 800px
            z-index: 0
            left: -50px
            margin: -160px auto -110px
    &_excavators
        .block
            &_1
                margin-top: 80px
                margin-bottom: -80px
                .heading
                    background: url('../img/enhancements/excavators/img-1.jpg') no-repeat center center/cover
            &_2
                .heading
                    background: url('../img/enhancements/excavators/img-2.jpg') no-repeat center center/cover
            &_3
                .heading
                    background: url('../img/enhancements/excavators/img-3.jpg?v=2') no-repeat center center/cover
            &_4
                margin-top: -150px
                margin-bottom: 150px
                .heading
                    background: url('../img/enhancements/excavators/img-4.jpg') no-repeat center center/cover
            &_5
                margin-top: 50px
                margin-bottom: 30px
                .heading
                    background: url('../img/enhancements/excavators/img-5.jpg') no-repeat center center/cover
            &_6
                margin-top: -50px
                margin-bottom: 50px
                .heading
                    background: url('../img/enhancements/excavators/img-6.jpg') no-repeat center center/cover
        .bulldozer
            width: 952px
            z-index: 0
            left: 50px
            margin: -170px auto -130px