.models
    padding: 40px 0
    .block
        &-heading
            margin-bottom: 40px
    .model
        display: flex
        align-items: stretch
        margin-bottom: 20px
        .image
            border-radius: 5px
            flex: 0 0 440px
            margin-right: 30px
            img
                display: block
                width: 100%
                height: 100%
                object-fit: cover
                object-position: 50%
                border-radius: 5px
        .content
            position: relative
            .title
                display: block
                font-size: 27px
                span
                    color: $yellow
            .list
                margin: 13px 0
                padding: 0
                list-style: none
                display: flex
                flex-direction: column
                li
                    div
                        display: flex
                        position: relative
                        &:after
                            content: ''
                            background: url('data:image/svg+xml;utf8,<svg width="4" height="2" viewBox="0 0 4 2" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="2" height="2" fill="%23000000"/></svg>')
                            width: 100%
                            height: 2px
                            display: block
                            position: absolute
                            bottom: 3px
                            left: 0px
                            z-index: -1
                        b, p
                            display: block
                            background-color: $white
                        b
                            width: 170px
                            flex: 0 0 170px
                        p
                            margin-left: 145px
                            flex: 1 0 auto
            p
                margin: 0
            .description
                margin-bottom: 70px
            .buttons
                display: flex
                justify-content: space-between
                position: absolute
                bottom: 0px
                width: 100%
                .button
                    margin: 0
                    flex: 0 0 46%
                    font-size: 13px
                    &_arrowed
                        flex: 0 0 53%
    &_alt
        background-color: #f2f2f2
        .model
            .content
                .list
                    li
                        div
                            &:after
                                z-index: 0
                            b,p
                                background-color: #f2f2f2
                                position: relative
                                z-index: 1
    &_autograders
        background-color: #f2f2f2
        .model
            .content
                .list
                    li
                        &:last-child
                            div
                                b
                                    width: 50px
                                    flex: 0 0 50px
                                p
                                    margin-left: 145px + (170px - 50px)
                                    flex: 1 0 auto
    &_excavators-forklifts
        .model
            .content
                .list
                    li
                        &:nth-child(3)
                            div
                                b
                                    width: 210px
                                    flex: 0 0 210px
                                p
                                    margin-left: 145px - 40px
                                    flex: 1 0 auto
                        &:last-child
                            div
                                b
                                    width: 120px
                                    flex: 0 0 120px
                                p
                                    margin-left: 145px + (170px - 120px)
                                    flex: 1 0 auto
    &_excavators
        .model
            .content
                .list
                    li
                        &:nth-child(3)
                            div
                                b
                                    width: 175px
                                    flex: 0 0 175px
                                p
                                    margin-left: 145px - 5px
                                    flex: 1 0 auto
                        &:last-child
                            div
                                b
                                    width: 120px
                                    flex: 0 0 120px
                                p
                                    margin-left: 145px + (170px - 120px)
                                    flex: 1 0 auto