.consult
    margin-top: 27px
    .block
        border: 2px solid $yellow
        border-radius: 5px
        padding: 40px 30px
        &-desc
            font-size: 18px
        .form
            margin-top: 32px
            padding: 0 20px
            .button
                margin-top: 15px
            .note
                font-size: 11px
                text-align: center
                margin: 14px auto 0
                max-width: 340px
                color: #adadad