.jumbotron
    padding-top: 23px
    height: 664px
    .list
        margin: 0
        padding: 0
        list-style: none
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
    &_all-vehicles
        background: url("../img/index__header-bg.jpg?v=2") no-repeat center top
        .block
            &-heading
                text-align: right
                font-size: 37.18px
                margin-top: 40px
                margin-right: -40px
            &-desc
                text-align: right
                font-size: 19px
                margin-right: -40px
        .list
            margin: 0 0 0 40px
            li
                display: flex
                align-items: center
                width: 330px
                border-radius: 5px
                border: 1px solid #c3c8d2
                height: 62px
                margin-bottom: 8px
                p
                    margin: 0
                    font-size: 16px
                .counter
                    width: 70px
                    flex: 0 0 70px
                    height: 64px
                    background-color: $yellow
                    border-radius: 5px
                    margin: -1px
                    display: flex
                    align-items: center
                    justify-content: center
                    color: $white
                    font-size: 19px
                    margin-right: 28px
                    position: relative
                    &:after
                        content: ''
                        display: block
                        width: 0
                        height: 0
                        border-style: solid
                        border-width: 10px 0 10px 17.3px
                        border-color: transparent transparent transparent $yellow
                        position: absolute
                        right: -17px
                        top: 50%
                        transform: translateY(-50%)
                &:nth-child(2)
                    width: 360px
                &:nth-child(3)
                    width: 380px
    &_bulldozers, &_autograders, &_mini-forklifts, &_frontal-forklifts, &_excavators-forklifts, &_excavators
        background-position: center top
        background-repeat: no-repeat
        height: 744px
        margin-bottom: -75px
        position: relative
        z-index: 1
        .block
            &-heading
                font-size: 37.18px
                margin-top: 40px
                text-align: left
                max-width: 680px
            &-desc
                text-align: left
                font-size: 19px
        .list
            margin: 0
            li
                display: flex
                align-items: center
                width: 290px
                height: 82px
                margin-bottom: 8px
                p
                    margin: 0
                    font-size: 16px
                .counter
                    width: 82px
                    flex: 0 0 82px
                    height: 82px
                    display: flex
                    align-items: center
                    justify-content: center
                    color: $yellow
                    font-size: 19px
                    margin-right: 28px+14px
                    position: relative
                    &:after
                        content: ''
                        background: url('../img/icons/bulldozers/header-list.png') no-repeat center center
                        width: 96px
                        height: 82px
                        display: block
                        position: absolute
                        left: 0
                        top: 0
                &:nth-child(3)
                    width: 380px
    &_mini-forklifts
        .block
            &-heading
                max-width: 500px
    &_frontal-forklifts
        .block
            &-heading
                max-width: 550px
        .list
            li
                &:nth-child(3)
                    p
                        background-color: rgba(255,255,255,0.7)
                        min-height: 60px
                        display: flex
                        align-items: center
                        border-radius: 5px
    &_excavators-forklifts
        .block
            &-heading
                max-width: 560px
    &_excavators
        .block
            &-heading
                max-width: 560px
            &-desc
                max-width: 400px
        .list
            li
                .counter
                    margin-right: 25px