.monitoring
    background-color: #f2f2f2
    padding: 40px 0
    .block-desc
        margin-bottom: 30px
    b
        display: block
        font-size: 25px
        margin-bottom: 15px
    p
        font-size: 17px
    .info
        margin-bottom: 40px
    .title
        text-align: center
        margin-bottom: 28px
    &-carousel
        div
            width: 100%
            img
                width: 100%
                height: 250px
                object-fit: cover
                object-position: 50%
                border-radius: 5px
            &:focus
                outline: 0
        .slick-next
            right: 15px
            transform: rotate(360deg)
        .slick-prev
            left: 15px
            transform: rotate(180deg)
        .slick-prev, .slick-next
            z-index: 1
            background: url('../img/icons/angle-right.png') no-repeat center center/contain
            filter: drop-shadow(0px 0px 3px #000000)
            &:before
                display: none
        .slick-dots
            bottom: 10px
            li
                margin: 0
                button
                    &:before
                        font-size: 12px
                &.slick-active
                    button
                        &:before
                            color: $yellow
                            opacity: 1
    .block
        background-color: $white
        border-radius: 5px
        height: calc(100% - 36px)
        margin-bottom: 36px
        .heading
            background-color: $yellow
            border-radius: 5px
            display: flex
            align-items: center
            padding: 14px 28px
            img
                display: block
                align-self: center
                width: 42px
                object-fit: contain
                margin-right: 17px
            p
                margin: 0
                font-size: 25px
                font-weight: 500
        .content
            padding: 30px 42px
            .list
                margin: 0
                padding: 0
                display: flex
                flex-direction: column
                li
                    p
                        margin: 0