.partners
    padding-top: 40px
    padding-bottom: 43px - 8px
    .block
        &-heading
            margin-bottom: 40px
    .list
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap
        li
            flex: 0 0 24.48%
            //width: 24.48% !important
            background-color: #f9f9f9
            border-radius: 5px
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 8px
            margin-right: 8px
            height: 165px
            img
                display: block
                align-self: center
                max-width: 255px
                max-height: 80px
                object-fit: contain
                object-position: 50%
            &:nth-child(4n)
                margin-right: 0