.products
    background-color: #f2f2f2
    padding: 40px 0 50px
    margin-top: 26px
    .block
        &-heading
            margin-bottom: 60px
    .product
        a
            display: flex
            justify-content: center
            align-items: center
            img
                display: block
                max-width: 100%
                height: 200px
                object-fit: contain
                transform: translate3d(-1px, -1px, 0)
                border: solid 1px transparent
                border-width: 1px 0 0 1px
                transition: filter 0.3s ease
            &:hover
                img
                    filter: drop-shadow(0px 0px 20px #ffa720)
        b
            display: block
            text-align: center
            text-transform: uppercase
            font-size: 22px
            line-height: 1
            margin: 18px 0
        .note
            margin: 0 0 18px
            font-size: 15px
            position: relative
            display: flex
            align-items: center
            justify-content: center
            &:before
                content: ''
                background: url('../img/icons/information-button.png') no-repeat center center/contain
                display: block
                width: 22px
                height: 22px
                flex: 0 0 22px
                margin-right: 10px
                filter: invert(100%) sepia(0%) saturate(6446%) hue-rotate(68deg) brightness(92%) contrast(75%)
        .button
            max-width: 180px
            margin: 0 auto 10px
            font-size: 11px
            &_arrowed
                background-color: darken(#eeeeee, 10%)
                &:hover
                    background-color: #eeeeee