.showroom
    padding: 30px 0
    .block
        b
            display: block
            font-size: 20px
            text-align: center
            margin-top: 30px
        p
            text-align: center
            margin: 15px 0
            font-size: 17px
        .form
            .button
                margin-top: 15px
            .note
                font-size: 11px
                text-align: center
                margin: 14px auto 0
                max-width: 340px
                color: #adadad
    .map
        display: block
        max-width: 100%
        min-height: 560px - 35px
        margin-top: 35px