.technologies
    padding: 40px 0
    .block
        display: flex
        align-items: center
        margin: 28px 0 38px
        .image
            display: flex
            flex: 0 0 39%
            justify-content: center
            align-items: center
            img
                display: block
                align-self: center
                max-width: 100%
        p
            margin: 0
            font-size: 17px
        &-video
            .embed-responsive
                border-radius: 5px
            b
                display: block
                text-align: center
                font-size: 20px
                text-transform: uppercase
                margin-top: 40px