.warehouse
    background: url('../img/warehouse__bg-2.png') no-repeat center 110px, url('../img/warehouse__bg-1.jpg') no-repeat center top
    padding: 40px 0
    .list
        margin: 40px 0 0
        padding: 0
        display: flex
        align-items: flex-start
        list-style: none
        li
            flex: 0 0 20%
            display: flex
            flex-direction: column
            align-items: center
            position: relative
            .counter
                display: flex
                align-items: center
                justify-content: center
                background-color: $yellow
                border-radius: 50%
                width: 40px
                height: 40px
                flex: 0 0 40px
                line-height: 1
                font-size: 17px
                margin-bottom: -20px
                position: absolute
                bottom: 10px
                right: 0
                z-index: 1
            .image-wrap
                width: 132px
                height: 132px
                flex: 0 0 132px
                display: flex
                align-items: center
                justify-content: center
                border-radius: 50%
                background-color: $white
                .inner
                    background-color: $white
                    border-radius: 50%
                    width: 103px
                    height: 103px
                    flex: 0 0 103px
                    box-shadow: 0px 1px 27px 0px rgba(31, 25, 26, 0.2)
                    display: flex
                    justify-content: center
                    align-items: center
                    img
                        display: block
                        align-self: center
                        width: 34px
                        transform: rotate(45deg)
                        filter: invert(100%) sepia(0%) saturate(6446%) hue-rotate(68deg) brightness(92%) contrast(75%)
            p
                margin: 15px 0 0
                font-size: 17px
                max-width: 90px
                text-align: center
            &:nth-child(2)
                .counter
                    bottom: 130px
                    right: -20px
            &:nth-child(3)
                .counter
                    bottom: -20px
                    right: -20px
                .image-wrap
                    .inner
                        img
                            transform: none
                p
                    max-width: 180px
            &:nth-child(4)
                .counter
                    bottom: 115px
                    right: -30px
                p
                    max-width: 150px
            &:nth-child(5)
                p
                    max-width: 120px
            &:nth-child(2n)
                margin-top: 130px