@import "fonts"

html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 14px 'DIN Pro', sans-serif;
    &.header_sticky
        .header
            position: fixed
            background-color: $white
            top: 0
            width: 100%
            z-index: 3
            height: 92px
            overflow: hidden
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15)
        .jumbotron
            margin-top: 142px
        &_sub
            .navigation
                position: fixed
                background-color: $white
                top: 0
                width: 100%
                z-index: 3
                height: 92px
                margin: 0
                overflow: hidden
                box-shadow: 0px 20px 20px -18px rgba(0,0,0,0.15)
            .video
                margin-top: 150px
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    width: 100%
    max-width: 100%
.footer
    flex-shrink: 0

.video
    padding-top: 40px
    padding-bottom: 40px
    background-color: #f2f2f2

@import "slick"
@import "slick-theme"
@import "magnific-popup"

@import "header"
@import "content"
@import "main-blocks/partners"
@import "main-blocks/jumbotrons"
@import "main-blocks/consult"
@import "main-blocks/products"
@import "main-blocks/technologies"
@import "main-blocks/monitoring"
@import "main-blocks/showroom"
@import "main-blocks/warehouse"
@import "bulldozers/demo"
@import "bulldozers/compare"
@import "bulldozers/models"
@import "bulldozers/enhancements"
@import "autograders/service"
@import "footer"

@import "media"