.block
    &-heading
        display: block
        font-size: 34.69px
        font-weight: 700
        text-transform: uppercase
        color: $black
        text-align: center
        margin-bottom: 10px
    &-desc
        color: $black
        text-align: center
        font-size: 17px
=placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::placeholder
        @content
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-bg.mfp-ready 
  opacity: 0.8
.mfp-fade.mfp-bg.mfp-removing 
  opacity: 0
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0
.mfp-popup
    position: relative
    background: $white
    padding: 20px
    width: auto
    max-width: 740px
    margin: 20px auto
    border: 2px solid $yellow
    border-radius: 5px
    .consult
        .block
            border: none
            padding: 0
            .form
                padding: 0
#thankyou
    min-height: 300px
    .block-heading
        margin: 100px auto
.mfp-iframe-holder
    .mfp-content
        height: 100%
        width: 100%
        max-width: 98%
.input, .custom-select
    padding: 10px
    padding-left: 40px
    border-color: #989898
    border-radius: 5px
    height: 44px
    font-size: 18px
    color: $black
    position: relative
    margin-bottom: 18px
    +placeholder
        font-size: 18px
        color: #989898
    &_name, &_city, &_phone, &_company, &_mail, &_job, &_date, &_time, &_address
        &:before
            content: ''
            display: block
            width: 15px
            height: 15px
            position: absolute
            left: 30px
            top: 15px
            z-index: 1
            filter: invert(68%) sepia(0%) saturate(697%) hue-rotate(153deg) brightness(92%) contrast(77%)
    &_name
        &:before
            background: url("../img/icons/man-user.png") no-repeat center center / contain
    &_city
        &:before
            background: url("../img/icons/home-address.png") no-repeat center center / contain
    &_phone
        &:before
            background: url("../img/icons/phone.png") no-repeat center center / contain
    &_company
        &:before
            background: url("../img/icons/visitor.png") no-repeat center center / contain
    &_mail
        &:before
            background: url("../img/icons/close-envelope.png") no-repeat center center / contain
    &_job
        &:before
            background: url("../img/icons/manager-avatar.png") no-repeat center center / contain
    &_date
        &:before
            background: url("../img/icons/event.png") no-repeat center center / contain
    &_time
        &:before
            background: url("../img/icons/clock.png") no-repeat center center / contain
    &_address
        &:before
            background: url("../img/icons/three-buildings.png") no-repeat center center / contain
            width: 17px
            height: 17px
    &[type='date']
        &::-webkit-inner-spin-button
            margin-top: 13px
            display: none
        &::-webkit-calendar-picker-indicator
            margin-top: 1px
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: auto
            height: auto
            color: transparent
            background: transparent
            border: none
    &[type='time']
        &::-webkit-inner-spin-button
            margin-top: 13px
            display: none
        &::-webkit-calendar-picker-indicator
            margin-top: 1px
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: auto
            height: auto
            color: transparent
            background: transparent
            border: none
.custom-select
    background: url('../img/icons/angle-down.png') no-repeat right 20px top 17px/16px