@font-face
    font-family: 'DIN Pro'
    src: url('../fonts/DINPro Regular.eot')
    src: url('../fonts/DINPro Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro Regular.woff') format('woff'),
    url('../fonts/DINPro Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'DIN Pro'
    src: url('../fonts/DINPro-Bold.eot')
    src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Bold.woff') format('woff'),
    url('../fonts/DINPro-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal
@font-face
    font-family: 'DIN Pro'
    src: url('../fonts/DINPro-Medium.eot')
    src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Medium.woff') format('woff'),
    url('../fonts/DINPro-Medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal