.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 5px
    background-color: $yellow
    color: $black
    height: 43px
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    font-weight: 700
    text-transform: uppercase
    img
        transition: all 0.3s ease
    &:hover
        color: $white
        text-decoration: none
        img
            filter: invert(1)
    &:focus
        outline: 0
    &_arrowed
        background-color: #eeeeee
        padding: 0 66px 0 16px
        margin: 0 auto
        position: relative
        &:after
            content: ''
            background: url("../img/icons/right-arrow-white.png") no-repeat center center / 15px, $yellow
            display: block
            width: 50px
            height: 43px
            border-radius: 5px
            position: absolute
            right: 0
            top: 0
        &:hover
            background-color: darken(#eeeeee, 10%)
            color: $black
.header
    height: 142px
    overflow: visible
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15)
    position: relative
    z-index: 2
    .navbar-brand
        padding: 0
        margin: 0
        display: flex
        align-items: center
        .divider
            width: 2px
            height: 49px
            margin-left: 13px
            background-color: $black
        img
            width: 179px
            &:last-child
                position: absolute
                left: 205px
                width: 115px
                height: 36px
                top: 28px
    &__navbar
        align-items: flex-start
        padding: 25px 0 0
        &-collapse
            flex-direction: column
            align-items: flex-end
            .navbar-nav
                margin-top: 21px
                margin-left: -189px
                width: 1170px
                justify-content: space-between
                .nav-item
                    .nav-link
                        color: $black
                        position: relative
                        font-size: 13px
                        text-transform: uppercase
                        height: 53px
                        display: flex
                        align-items: center
                        &:after
                            content: ''
                            position: absolute
                            bottom: 0
                            left: 0
                            height: 3px
                            width: 100%
                            background-color: $yellow
                            transition: all 0.3s ease
                            transform: scaleX(0)
                            z-index: 2
                    &.active, &:hover
                        .nav-link
                            color: $black
                            &:after
                                transform: scaleX(1)
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 41px
            height: 41px
    .navbar-toggler-icon
        background: url("../img/menu__icon-close.svg") no-repeat center center
        width: 41px
        height: 41px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    &__top
        display: flex
        align-items: center
    &__address
        p
            font-size: 16px
            margin: 5px 0 0
    &__phone
        display: block
        text-align: right
        color: $black
        margin-right: 38px
        transition: all 0.3s ease
        font-weight: 700
        img
            width: 22px
            margin-right: 16px
            filter: invert(38%) sepia(10%) saturate(841%) hue-rotate(166deg) brightness(92%) contrast(86%)
        &:hover
            text-decoration: none
            color: $yellow
    &__button
        @extend .button
        width: 230px
        font-size: 12px
        img
            width: 12px
            margin-right: 12px
.navigation
    margin-top: 80px
    position: relative
    z-index: 1
    box-shadow: 0px 20px 20px -18px rgba(0,0,0,0.15)
    .header
        &__button
            flex: 0 0 230px
        &__navbar_sub
            padding: 19.5px 0
            align-items: center
        &__top
            width: 880px
    .navbar-brand
        padding: 0
        margin: 0
        display: flex
        align-items: center
        .divider
            width: 2px
            height: 49px
            margin-left: 13px
            background-color: $black
        img
            width: 179px
            &:last-child
                position: absolute
                left: 205px
                width: 115px
                height: 36px
                top: 28px
    .navbar-nav
        width: auto
        margin: 0
        justify-content: space-between
        .nav-item
            .nav-link
                color: $black
                position: relative
                font-size: 13px
                text-transform: uppercase
                height: 53px
                display: flex
                align-items: center
                &:after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    height: 3px
                    width: 100%
                    background-color: $yellow
                    transition: all 0.3s ease
                    transform: scaleX(0)
                    z-index: 3
                &.active, &:hover
                    color: $black
                    &:after
                        transform: scaleX(1)