@media (min-width: 1200px)
    .container
        max-width: 1200px
    .partners
        .list
            max-width: 1100px
            margin: 0 auto
            li
                width: 24.48% !important
                display: flex !important
            .slick-next
                right: -30px
                transform: rotate(360deg)
            .slick-prev
                left: -30px
                transform: rotate(180deg)
            .slick-prev, .slick-next
                z-index: 1
                background: url('../img/icons/angle-right_invert.png') no-repeat center center/contain
                width: 23px
                height: 23px
                &:before
                    display: none
            &.slick-initialized
                .slick-slide
                    >div
                        display: flex
                        height: 165px
                        margin-bottom: 8px
@media (min-width: 992px) and (max-width: 1199px)
    .navigation
        .header
            &__top
                width: 720px
            &__button
                flex: 0 0 200px
            &__navbar
                &_sub
                    .navbar-brand
                        img
                            width: 140px
                            &:last-child
                                width: 90px
                                left: 140px
                    .navbar-nav
                        margin: 0
                        width: auto
                        .nav-item
                            .nav-link
                                padding: 8px 4px
    body
        &.header_sticky
            .header
                position: fixed
                background-color: $white
                top: 0
                width: 100%
                z-index: 3
                height: 72px
                overflow: hidden
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15)
            .jumbotron
                margin-top: 111px
    .header
        height: 111px
        &__navbar
            padding: 15px 0 0
            &-collapse
                .navbar-nav
                    margin-top: 5px
                    width: 930px
                    margin-left: -189px
                    transform: translate3d(0,0,0)
                    .nav-item
                        .nav-link
                            text-align: center
                            height: 48px
        &__phone
            margin-right: 10px
            font-size: 13px
            img
                margin-right: 10px
    .jumbotron
        &_bulldozers
            background-position: center top
            padding-right: 100px
            margin-right: -100px
        &_autograders
            background-position: center top
            padding-right: 220px
            margin-right: -220px
        &_mini-forklifts
            background-position: center top
            padding-right: 220px
            margin-right: -220px
        &_excavators-forklifts
            background-position: center top
            padding-right: 260px
            margin-right: -260px
        &_excavators
            background-position: center top
            padding-right: 260px
            margin-right: -260px
    .products
        .product
            b
                font-size: 20px
            .note
                min-height: 40px
    .monitoring
        .block
            .heading
                p
                    font-size: 21px
    .warehouse
        background: url('../img/warehouse__bg-2.png') no-repeat center 180px/1500px, url('../img/warehouse__bg-1.jpg') no-repeat center top
        .list
            li
                .counter
                    display: none
    .partners
        .list
            max-width: 870px
            margin: 0 auto
            li
                flex: 0 0 24.35%
                width: 24.35% !important
                display: flex !important
                img
                    max-width: 190px
                    margin: 0 auto
            .slick-next
                right: -30px
                transform: rotate(360deg)
            .slick-prev
                left: -30px
                transform: rotate(180deg)
            .slick-prev, .slick-next
                z-index: 1
                background: url('../img/icons/angle-right.png') no-repeat center center/contain
                filter: invert(0.6)
                width: 23px
                height: 23px
                &:before
                    display: none
            &.slick-initialized
                .slick-slide
                    >div
                        display: flex
                        height: 165px
                        margin-bottom: 8px
    .models
        .model
            .image
                flex: 0 0 320px
                img
                    object-fit: contain
            .content
                .list
                    li
                        div
                            p
                                flex: 1 1 auto
    .enhancements
        .block
            margin-left: 0
            margin-right: 0
            width: 100%
            position: relative
            z-index: 1
        .bulldozer
            z-index: 0
        .block-circled
            .image
                width: 200px
                height: 200px
                flex: 0 0 200px
                img
                    width: 200px
                    height: 200px
                    flex: 0 0 200px
            .content
                height: 220px
    .compare
        .table
            thead
                tr
                    th
                        &:first-child
                            width: 140px
    .service
        &_mini-forklifts
            .block
                .image
                    &:before
                        left: -22px
                    &:after
                        right: -22px
                &:after
                    display: none
                &:before
                    display: none
@media (min-width: 768px) and (max-width: 991px)
    .header
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        height: 70px
        &__top
            margin-top: 15px
            padding: 0 10px
        &__button
            margin-left: auto
        &__navbar
            padding: 12px 0 0
            align-items: center
            &-collapse
                background-color: $white
                z-index: 10
                box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3)
                .navbar-nav
                    width: 100%
                    margin: 0
                    padding: 10px
                    border: none
                    align-items: center
                    .nav-item
                        .nav-link
                            justify-content: center
                            height: auto
        &__phone
            margin-right: 15px
        .navbar-toggler
            margin-left: 10px
            margin-top: 0
    .jumbotron
        margin-top: 70px
        &_all-vehicles
            .block
                &-heading
                    margin-right: 0
                    font-size: 32px
                &-desc
                    margin-right: 0
                    font-size: 16px
            .list
                margin: 0
                li
                    &:last-child(), &:nth-child(2)
                        width: 100%
        &_bulldozers
            background: url('../img/bulldozers__header-bg_t.png?v=2') no-repeat center top
            background-position: center top
            padding-right: 300px
            margin-right: -300px
            .block
                &-heading
                    margin-top: 20px
        &_autograders
            background: url('../img/autograders__header-bg_t.png?v=3') no-repeat center top
            background-position: center top
            padding-right: 430px
            margin-right: -430px
            .block
                &-heading
                    margin-top: 20px
        &_mini-forklifts
            background: url('../img/mini-forlifts__header-bg_t.png?v=2') no-repeat center top
            background-position: center top
            padding-right: 450px
            margin-right: -450px
            .block
                &-heading
                    margin-top: 20px
            .list
                li
                    &:nth-child(3)
                        width: 320px
        &_frontal-forklifts
            background: url('../img/frontal-forlifts__header-bg_t.png?v=3') no-repeat center top
            background-position: center top
            padding-right: 230px
            margin-right: -230px
            .block
                &-heading
                    margin-top: 20px
        &_excavators-forklifts
            background: url('../img/excavators-forlifts__header-bg_t.png?v=3') no-repeat center top
            background-position: center top
            padding-right: 530px
            margin-right: -530px
            .block
                &-heading
                    margin-top: 20px
        &_excavators
            background: url('../img/excavators__header-bg_t.png') no-repeat center top
            background-position: center top
            padding-right: 500px
            margin-right: -500px
            .block
                &-heading
                    margin-top: 20px
    .products
        .product
            .note
                font-size: 14px
    .technologies
        .block
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-bottom: 30px
            p
                text-align: center
    .monitoring
        .block
            .heading
                min-height: 86px
                p
                    font-size: 23px
    .warehouse
        background: url('../img/warehouse__bg-1.jpg') no-repeat center top/cover
        .list
            li
                .counter
                    display: none
    .showroom
        .map
            margin-top: 30px
    .partners
        .list
            max-width: 690px
            margin: 0 auto
            li
                flex: 0 0 49%
                width: 49% !important
                display: flex !important
                img
                    max-width: 200px
                    margin: 0 auto
            .slick-next
                right: -30px
                transform: rotate(360deg)
            .slick-prev
                left: -30px
                transform: rotate(180deg)
            .slick-prev, .slick-next
                z-index: 1
                background: url('../img/icons/angle-right.png') no-repeat center center/contain
                filter: invert(0.6)
                width: 23px
                height: 23px
                &:before
                    display: none
            &.slick-initialized
                .slick-slide
                    >div
                        display: flex
                        height: 165px
                        margin-bottom: 8px
    .models
        .model
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-right: 0
                margin-bottom: 20px
            .content
                .list
                    li
                        div
                            p
                                flex: 1 1 auto
    .compare
        .table
            width: 1000px
            thead
                tr
                    th
                        &:first-child
                            width: 140px
    .enhancements
        .block
            margin: 0 auto 30px
            width: 100%
        .bulldozer
            position: static
            margin: 0 auto 30px
            width: 100%
            display: none
        .block-circled
            .content
                height: auto
    .service
        &_mini-forklifts
            .block
                .image
                    &:before
                        display: none
                    &:after
                        display: none
                &:after
                    display: none
                &:before
                    display: none
    .footer
        &-logo
            width: 100%
        &-list
            max-height: 100%
            margin: 0
            li
                margin-bottom: 6px
                &:nth-child(4n)
                    margin-bottom: 6px
        &-link
            font-size: 16px
@media (min-width: 576px) and (max-width: 767px)
    .header
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        height: 70px
        &__top
            margin-top: 15px
            flex-direction: column
        &__phone
            margin-right: 0
            margin-bottom: 20px
        &__navbar
            align-items: center
            padding: 12px 0
            &-collapse
                background-color: $white
                z-index: 10
                box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3)
                .navbar-nav
                    width: 100%
                    margin: 0
                    padding: 10px
                    border: none
                    align-items: center
                    .nav-item
                        .nav-link
                            height: auto
                            justify-content: center
        .navbar-toggler
            margin-left: 10px
            padding: 0
            margin-top: 0
    .jumbotron
        margin-top: 70px
        &_all-vehicles
            .block
                &-heading
                    margin-right: 0
                    font-size: 32px
                &-desc
                    margin-right: 0
                    font-size: 16px
            .list
                margin: 0 auto
                width: 342px
                li
                    background-color: rgba(255,255,255,0.9)
        &_bulldozers
            background-position: center top
            padding-right: 500px
            margin-right: -500px
            .block
                &-heading
                    margin-top: 20px
        &_autograders
            background-position: center top
            padding-right: 680px
            margin-right: -680px
            .block
                &-heading
                    margin-top: 20px
        &_mini-forklifts
            background-position: center top
            padding-right: 600px
            margin-right: -600px
            .block
                &-heading
                    margin-top: 20px
        &_frontal-forklifts
            background-position: center top
            padding-right: 400px
            margin-right: -400px
            .block
                &-heading
                    margin-top: 20px
        &_excavators-forklifts
            background-position: center top
            padding-right: 300px
            margin-right: -300px
            .block
                &-heading
                    margin-top: 20px
        &_excavators
            background-position: center top
            padding-right: 700px
            margin-right: -700px
            .block
                &-heading
                    margin-top: 20px
    .consult
        .block
            .form
                .note
                    max-width: 100%
    .products
        .product
            margin-bottom: 30px
    .technologies
        .block
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-bottom: 30px
            p
                text-align: center
            &-video
                margin-bottom: 40px
    .monitoring
        .block
            .heading
                p
                    font-size: 24px
    .warehouse
        background: url('../img/warehouse__bg-1.jpg') no-repeat center top/cover
        .list
            flex-wrap: wrap
            justify-content: center
            li
                flex: 0 0 50%
                margin-bottom: 30px
                .counter
                    display: none
                &:nth-child(2n)
                    margin-top: 0
    .showroom
        .map
            margin-top: 30px
    .partners
        .list
            li
                flex: 0 0 100%
                margin-right: 0
                height: 100px
                background: none
                display: flex !important
                img
                    max-width: 200px
                    margin: 0 auto
            .slick-next
                right: 0px
                transform: rotate(360deg)
            .slick-prev
                left: 0px
                transform: rotate(180deg)
            .slick-prev, .slick-next
                z-index: 1
                background: url('../img/icons/angle-right.png') no-repeat center center/contain
                filter: invert(0.6)
                width: 23px
                height: 23px
                &:before
                    display: none
    .compare
        .table
            width: 1000px
    .models
        .model
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-right: 0
                margin-bottom: 20px
            .content
                .list
                    li
                        div
                            align-items: flex-end
                            p
                                flex: 1 1 auto
                                margin-left: 100px
    .enhancements
        .block
            margin: 0 auto 30px
            width: 100%
        .bulldozer
            position: static
            margin: 0 auto 30px
            width: 100%
        .block-circled
            flex-direction: column
            .content
                padding: 90px 20px 20px
                margin-left: 0
                margin-top: -60px
                height: auto
    .service
        &_mini-forklifts
            .block
                .image
                    &:before
                        display: none
                    &:after
                        display: none
                &:after
                    display: none
                &:before
                    display: none
    .footer
        &-logo
            margin: 0 0 30px
            width: 192px
        &-list
            max-height: 115px
            margin: 0 0 15px
            align-items: center
            li
                margin-bottom: 6px
                width: 50%
                a
                    font-size: 12px
                    line-height: 1.3
                    display: block
                &:nth-child(4n)
                    margin-bottom: 6px
        &-link
            font-size: 12px
            max-width: 100%
            justify-content: flex-start
            margin: 0 auto 10px
            img
                width: 12px
                height: 12px
        &-links
            flex: 1 0 auto
        &-creator
            max-width: 120px
            margin: 0 auto
            p
                margin: 0 0 12px
                font-size: 12px
            a
                display: block
                width: 100%
                img
                    display: block
                    margin: 0 0 0 auto
@media (max-width: 575px)
    .mfp-popup
        padding: 20px 0
    .header
        position: fixed
        width: 100%
        background-color: $white
        z-index: 10
        height: 78px
        &__top
            margin-top: 15px
            flex-direction: column
        &__phone
            margin-right: 0
            margin-bottom: 10px
        &__navbar
            padding: 11px 0 0
            &-collapse
                background-color: $white
                z-index: 10
                box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3)
                .navbar-nav
                    width: 100%
                    margin: 0
                    padding: 10px
                    border: none
                    align-items: center
                    .nav-item
                        .nav-link
                            justify-content: center
                            height: auto
        .navbar-brand
            margin-top: 7px
            .divider
                height: 36px
                margin-left: 8px
            img
                width: 120px
                &:last-child
                    position: static
                    width: 100px
                    height: 32px
                    left: 0
                    margin-left: 8px
        .navbar-toggler
            margin-left: 5px
            padding: 0
            margin-top: 5px
    .jumbotron
        margin-top: 78px
        &_all-vehicles
            height: 480px
            .block
                &-heading
                    margin-top: 10px
                    margin-right: 0
                    font-size: 30px
                &-desc
                    margin-right: 0
                    font-size: 14px
            .list
                margin: 0 0 0 auto
                width: 100%
                li
                    width: 100% !important
                    background-color: rgba(255,255,255,0.9)
                    p
                        font-size: 14px
        &_bulldozers, &_autograders, &_mini-forklifts, &_frontal-forklifts, &_excavators-forklifts, &_excavators
            margin-bottom: -40px
            height: 560px
            .block
                &-heading
                    font-size: 19px
                    text-align: center
                    margin-top: 0
                &-desc
                    font-size: 13px
                    text-align: center
            .list
                margin: 0 auto
                width: 100%
                li
                    width: 100%
                    border-radius: 5px
                    border: 1px solid #c3c8d2
                    height: 43px
                    margin-bottom: 8px
                    p
                        font-size: 13px
                        background: none !important
                    .counter
                        width: 50px
                        flex: 0 0 50px
                        height: 43px
                        background-color: $yellow
                        border-radius: 5px
                        margin: -1px
                        color: $white
                        font-size: 14px
                        margin-right: 18px
                        &:after
                            width: 0
                            height: 0
                            border-style: solid
                            border-width: 7px 0 7px 12.1px
                            border-color: transparent transparent transparent $yellow
                            background: none
                            left: 48px
                            top: 50%
                            transform: translateY(-50%)
                    &:nth-child(2)
                        width: 100%
                    &:nth-child(3)
                        width: 100%
        &_bulldozers
            background: url('../img/bulldozers__header-bg_m.jpg?v=4') no-repeat center bottom / 600px, #f6f9fa
        &_autograders
            background: url('../img/autograders__header-bg_m.jpg?v=5') no-repeat center bottom / 600px, #f6f9fa
        &_mini-forklifts
            background: url('../img/mini-forlifts__header-bg_m.jpg?v=4') no-repeat center bottom -10px / 600px, #f6f9fa
        &_frontal-forklifts
            background: url('../img/frontal-forlifts__header-bg_m.jpg?v=5') no-repeat center bottom / 600px, #f6f9fa
        &_excavators-forklifts
            background: url('../img/excavators-forlifts__header-bg_m.jpg?v=5') no-repeat center bottom / 600px, #f6f9fa
        &_excavators
            background: url('../img/excavators__header-bg_m.jpg?v=3') no-repeat center bottom / 600px, #f6f9fa
    .block
        &-heading
            font-size: 18px
        &-desc
            font-size: 14px
    .consult
        .block
            padding: 15px 0px
            border: none
            &-heading
                font-size: 18px
            &-desc
                font-size: 13px
            .form
                padding: 0
                .note
                    max-width: 100%
                .button
                    width: 100%
                    height: 44px
                    margin-top: 0
    .products
        padding: 20px 0
        .block
            &-heading
                margin-bottom: 20px
        .product
            margin-bottom: 30px
            b
                font-size: 20px
            a
                img
                    height: 170px
    .technologies
        padding: 23px 0
        .block
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-bottom: 30px
            p
                text-align: center
                font-size: 14px
            &-video
                margin-bottom: 14px
                b
                    font-size: 14px
                    margin-top: 18px
    .monitoring
        padding: 18px 0 0
        .block
            .heading
                padding: 14px 15px
                p
                    font-size: 19px
            .content
                padding: 30px 15px
                .list
                    padding: 0 0 0 15px
        b
            font-size: 20px
        &-carousel
            div
                img
                    height: 190px
            .slick-prev, .slick-next
                top: 85px
                background: none
                filter: none
                width: 30px
                height: 30px
                &:before
                    content: ''
                    display: block
                    background: url(../img/icons/angle-right.png) no-repeat center center/9px
                    filter: invert(1)
                    width: 30px
                    height: 30px
                    opacity: 1
                    position: absolute
                    z-index: 2
                    top: 0
                    left: 2px
                &:after
                    content: ''
                    background-color: $white
                    display: block
                    width: 30px
                    height: 30px
                    position: absolute
                    left: 0
                    top: 0
                    border-radius: 0 10px 10px 0
                    transform: rotate(180deg)
            .slick-prev
                left: 0px
            .slick-next
                right: 0px
                transform: rotate(360deg)
    .warehouse
        background: url('../img/warehouse__bg-1.jpg') no-repeat center top/cover
        .list
            flex-wrap: wrap
            justify-content: center
            li
                flex: 0 0 50%
                margin-bottom: 30px
                .counter
                    display: none
                &:nth-child(2n)
                    margin-top: 0
    .partners
        .list
            li
                flex: 0 0 100%
                margin-right: 0
                height: 100px
                background: none
                display: flex !important
                img
                    max-width: 200px
                    margin: 0 auto
            .slick-next
                right: 0px
                transform: rotate(360deg)
            .slick-prev
                left: 0px
                transform: rotate(180deg)
            .slick-prev, .slick-next
                z-index: 1
                background: url('../img/icons/angle-right.png') no-repeat center center/contain
                filter: invert(0.6)
                width: 23px
                height: 23px
                &:before
                    display: none
    .showroom
        padding: 20px 0
        .block
            b
                text-transform: uppercase
                font-size: 18px
            .form
                .button
                    height: 44px
                    width: 100%
                    margin-top: 0
                    &:after
                        height: 44px
        .map
            margin-top: 30px
    .compare
        .table
            width: 1000px
    .demo
        padding: 16px 0
        .block
            &-heading
                margin-bottom: 14px
            &-video
                margin-bottom: 14px
                b
                    font-size: 14px
                    margin-top: 18px
    .models
        padding: 12px 0
        .block
            &-heading
                margin-bottom: 18px
        .model
            flex-direction: column
            .image
                flex: 0 0 auto
                margin-right: 0
                margin-bottom: 20px
            .content
                .title
                    font-size: 19px
                .list
                    li
                        div
                            flex-direction: column
                            &:after
                                display: none
                            b
                                flex: 0 0 auto
                            p
                                flex: 0 0 auto
                                margin: 0
                .description
                    margin-bottom: 20px
                .buttons
                    flex-direction: column
                    position: static
                    .button
                        margin-bottom: 15px
                        flex: 0 0 auto
        &_autograders
            .model
                .content
                    .list
                        li
                            &:last-child
                                div
                                    b, p
                                        flex: 0 0 auto
                                        margin: 0
        &_excavators-forklifts
            .model
                .content
                    .list
                        li
                            &:last-child, &:nth-child(3)
                                div
                                    b, p
                                        flex: 0 0 auto
                                        margin: 0
        &_excavators
            .model
                .content
                    .list
                        li
                            &:last-child, &:nth-child(3)
                                div
                                    b, p
                                        flex: 0 0 auto
                                        margin: 0
    .enhancements
        margin-top: 10px
        padding: 18px 0
        .block
            margin: 0 auto 30px
            width: 100%
            .heading
                height: 82px
                padding: 23px 28px
            .content
                height: auto
        .bulldozer
            display: none
        .block-circled
            flex-direction: column
            .image
                width: 154px
                height: 154px
                flex: 0 0 154px
                img
                    width: 154px
                    height: 154px
                    flex: 0 0 154px
            .content
                padding: 90px 20px 20px
                margin-left: 0
                margin-top: -60px
                height: auto
                b, p
                    text-align: center
                b
                    font-size: 17px
    .service
        .block
            &_dark
                margin: 0 -15px
        &_mini-forklifts
            .block
                b
                    font-size: 18px
                .image
                    &:before
                        display: none
                    &:after
                        display: none
                &:after
                    display: none
                &:before
                    display: none
                .list
                    li
                        p
                            &:before
                                flex: 0 0 5px
    .footer
        &-logo
            margin: 0 0 30px
            width: 192px
        &-list
            max-height: 115px
            margin: 0 0 15px
            align-items: center
            li
                margin-bottom: 6px
                width: 50%
                a
                    font-size: 12px
                    line-height: 1.3
                    display: block
                &:nth-child(4n)
                    margin-bottom: 6px
        &-link
            font-size: 12px
            max-width: 100%
            justify-content: flex-start
            margin: 0 auto 10px
            img
                width: 12px
                height: 12px
        &-links
            flex: 1 0 auto
        &-creator
            max-width: 120px
            margin: 0 auto
            p
                margin: 0 0 12px
                font-size: 12px
            a
                display: block
                width: 100%
                img
                    display: block
                    margin: 0 0 0 auto

// Css hacks for IE 10-11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    .products
        .product
            a
                img
                    width: auto
                    max-height: 200px
    .footer-list
        height: 110px
    @media (min-width: 992px) and (max-width: 1199px)
        .header
            &__navbar
                &-collapse
                    .navbar-nav
                        .nav-item
                            flex: 0 0 17.3%
                            &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4)
                                flex: 0 0 12%
                            &:nth-child(5)
                                flex: 0 0 17%
                            &:nth-child(6)
                                flex: 0 0 20%
                            &:nth-child(7)
                                flex: 0 0 15%
        .products
            .product
                a
                    img
                        width: auto
                        max-height: 150px